{% extends 'app_general/components/base.html' %}
{% block site_title %}เกี่ยวกับ-{% endblock %}
{% block content %}
<div class="container"><br><br>
    <div class="col-sm-12">
        <div>
            <br>
            <h2 class="bloglefttext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เกี่ยวกับเรา</h2><br>
            <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ชื่อบริษัท: DoubleTW Pets Shop</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;วันที่ก่อตั้งบริษัท: xx/xx/2023</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ที่ตั้งบริษัท: -</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;จุดประสงค์: เพื่ออำนวยความสะดวกต่อลูกค้าให้สามารถหาข้อมูลประกอบการตัดสินใจและเลือกสายพันธุ์ของสัตว์เลี้ยงที่ต้องการได้อย่างสะดวก</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เบอร์ติดต่อ: xxx-xxx-xxxx</p><br>
        </div>
    </div>
</div>
{% endblock %}