{% extends 'app_general/components/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <img src="{% static 'app_general/Untitled-1.jpg' %}" width="1296px">
    <div class="col_under_mainpic"><br><br></div>
    <div class="row">
        <div class="col-sm-3">
            <h1 class="bloglefttexthead">&nbsp;Pet Blog</h1>
            <img class="blog1img" src="{% static 'app_general/Blog_img1.webp' %}" alt="Blog1">
            <br><p><a href="https://salehere.co.th/articles/cute-pets">รวม 13 สัตว์เลี้ยงน่ารัก ไซซ์จิ๋ว น่าเลี้ยงไม่มีขน กันยายน 2022 -Sale Here</a></p><br>
            <img class="blog1img" src="{% static 'app_general/Blog_img2.webp' %}" alt="Blog2">
            <br><p><a href="https://salehere.co.th/articles/tiny-animal-cute">รวม 15 สัตว์เลี้ยงสุดน่ารักกก ไซซ์มินิ เลี้ยงง่าย ราคาจับต้องได้ ตุลาคม 2022 -Sale Here</a></p>
            <h1 class="underline11">     </h1>
            <p class="bloglefttext">ติดต่อเรา</p>
            <p class="bloglefttext">xxxxxx xxxx xxxxx</p>
            <p class="bloglefttext">xxxxx</p>
            <p class="bloglefttext">ติดตามเรา</p>
            <a href="https://www.facebook.com/"><img src="{% static 'app_general/facebook_icon.png' %}" alt="facebook_icon" style="width:42px;height:42px;"></a>
            <a href="https://www.instagram.com/"><img src="{% static 'app_general/instagram_icon.webp' %}" alt="instagram_icon" style="width:42px;height:42px;"></a><br><br>
        </div>
        <div class="col bg-body-secondary">
            <div class="row">
                <div class="col-sm-6"><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โปรโมชั่นประจำเดือน</h1></div>
                <div class="col-sm-6">
                    <br><p><a class="topcolright" href="https://salehere.co.th/articles/cute-pets">ดูสินค้าทั้งหมด</a></p>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <img src="{% static 'app_general/kawaii.gif' %}" width="50%">
                </div>
                <div class="grid-item"><img src="{% static 'app_general/kawaii.gif' %}" width="50%">
                </div>
                <div class="grid-item">
                    <img src="{% static 'app_general/kawaii.gif' %}" width="50%">
                </div>    
              </div>
              <div class="row">
                <div class="col-sm-6"><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สินค้าใหม่</h1></div>
                <div class="col-sm-6">
                    <br><p><a class="topcolright" href="https://salehere.co.th/articles/cute-pets">ดูสินค้าทั้งหมด</a></p>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <img src="{% static 'app_general/kawaii.gif' %}" width="50%">
                </div>
                <div class="grid-item">
                    <img src="{% static 'app_general/kawaii.gif' %}" width="50%">
                </div>
                <div class="grid-item">
                    <img src="{% static 'app_general/kawaii.gif' %}" width="50%">
                </div>    
              </div>
              <div class="row">
                <div class="col-sm-6"><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สินค้าขายดี</h1></div>
                <div class="col-sm-6">
                    <br><p><a class="topcolright" href="https://salehere.co.th/articles/cute-pets">ดูสินค้าทั้งหมด</a></p>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <img src="{% static 'app_general/kawaii.gif' %}" width="50%">
                </div>
                <div class="grid-item">
                    <img src="{% static 'app_general/kawaii.gif' %}" width="50%">
                </div>
                <div class="grid-item">
                    <img src="{% static 'app_general/kawaii.gif' %}" width="50%">
                </div>    
              </div>
        </div>
    </div>
</div>
{% endblock %}